services:
  nginx:
    image: nginx:alpine
    container_name: magento_nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - magento

  magento:
    image: php:8.3-fpm
    container_name: magento_app
    extra_hosts:
      - "dragonfly.service:${DRAGONFLY_IP}"
    user: root
    environment:
      - DRAGONFLY_IP=${DRAGONFLY_IP}
      - ADOBE_PUBLIC_KEY=${ADOBE_PUBLIC_KEY}
      - ADOBE_PRIVATE_KEY=${ADOBE_PRIVATE_KEY}
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
      - opensearch
    command: >
      bash -c "chmod +x /var/www/html/init.sh && /var/www/html/init.sh && php-fpm"

  mysql:
    image: mysql:8.0
    container_name: magento_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: magento
      MYSQL_USER: magento
      MYSQL_PASSWORD: magento
    command: --log-bin-trust-function-creators=1
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  opensearch:
    image: opensearchproject/opensearch:2.12.0
    container_name: magento_opensearch
    environment:
      - discovery.type=single-node
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - DISABLE_SECURITY_PLUGIN=true
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    ports:
      - "9200:9200"

volumes:
  mysql_data:
  opensearch_data:
